/* Write your CSS here */
.counter-value {
  color: red;
}
.counter-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: aqua;
  min-height: 100vh;
  padding-top: 0px;
}
